* {
	margin: 0;
	padding: 0;
	border: 0;
}

/*	body   
	-------------------------------------------------------------------------	*/

body { 
	background-color: #6D87D6;
	font: 14px/20px Open Sans, Helvetica, Arial, sans-serif;
}

/*	a   
	-------------------------------------------------------------------------	*/

a { 
	color: #fff; 
	opacity: 0.7;
	font-weight: bold; 
	text-decoration: none; 
	text-transform: none; 
}	
		
a:link,
a:focus,
a:active,
a:visited { 
	color:#fff; 
}		
	
a:hover { 
	color:#FFFFFF;
	opacity: 1; 
}	

/*	h1   
	-------------------------------------------------------------------------	*/

h1 {
	position: relative;
	color: #FFFFFF;
}

/*	span   
	-------------------------------------------------------------------------	*/

span {
	cursor: pointer;
}

span:hover {
	text-decoration: underline;
}

/*	input   
	-------------------------------------------------------------------------	*/

input {
	padding: 0.3em;
}

/*	img   
	-------------------------------------------------------------------------	*/

img.pic {
	width: 25px;
}

/*	navi   
	-------------------------------------------------------------------------	*/

nav {
	background-color: #062170;
}
/*
#navi {
	padding: 1em;
}

#navi span {
	font-weight: bold; 
	text-decoration: none; 
	text-transform: none;
}

#navi > li {
	display: inline;
	padding: 0.5em 1em;
	margin: 0em 0.6em;
}

#navi > .active {
	color: #ffffff;
	background-color: #6D87D6;
	border-bottom: 1px solid #6D87D6;
}

#navi > .inactive {
	color: #B8BCCD;
}

#navi > .inactive:hover {
	color: #fff;
}
*/
/*	table   
	-------------------------------------------------------------------------	*/

table {
	text-align: left;
}

table th,
table td {
	border-radius: 3px;
}

table th {
	background-color: #062170;
	color: #FFFFFF;
	padding: 0.5em 1em;
}

table .th1 {
	width: 20px; 
}

table .th2 {
	width: 80px;
}

table .th3 {
	width: 200px;
}

table .th4 {
	width: 400px;
}

table td {
	padding: 0.3em 1em;
	height: 25px;
}

table .td1 {
	background-color: #6899D3;
}

table .td2 {
	background-color: #4284D3;
}

table td #color {
	width: 70px;
}

table td #name {
	width: 190px;
}

/*	container   
	-------------------------------------------------------------------------	*/

#container {

}

/*	main   
	-------------------------------------------------------------------------	*/

#main {

}

/*	Box   
	-------------------------------------------------------------------------	*/

@media only screen and (max-width : 768px) {
	.box {
		padding: 2em;
		margin: 0em;
	}
	
}


@media only screen and (min-width : 768px)  {
   .box { 
	   	border: 1px solid #6D87D6;
	   	padding: 0em 0.5em 0.5em 0.5em; 
	   	margin: 0em 2em 2em 2em;
		width: 14em;
   }
}

.box:hover {
	border: 1px solid #000;
}

.box > h3 {
	color: #fff; 
	margin-bottom: 0.6em;
	cursor: move;
}

.box li {
	text-decoration: none; 
	text-transform: none; 
	list-style-type: none;
}

/*	RSS Box   
	-------------------------------------------------------------------------	*/

.rss_box {
	min-width: 30em;
}

.rss_box #feed_menu {
	padding: 0.3em 1em;
}

.rss_box #feed_menu span {
	font-weight: bold; 
	text-decoration: none; 
	text-transform: none; 
	padding: 0.5em 1em;
	margin: 0em 1em;
}

.rss_box #feed_menu .active {
	color: #000;
	background-color: #fff;	
	border-bottom: 1px solid #fff;
}

.rss_box #feed_menu .inactive:hover {
	color: #000;
}

.rss_box #feed_menu .inactive {
	color: #B8BCCD;
}

.rss_box #feed_news {
	padding: 0.5em;
	background-color: #fff;
}

.rss_box #feed_news a {
	font-size: 13px;
	font-weight: normal; 
	color: #000;
}

.rss_box #feed_news a:hover {
	color: #1D1AB2;
}


/*	admin   
	-------------------------------------------------------------------------	*/

#admin {
	padding: 2em 1em;
}

#admin #admin_menu {
	position: relative;
	padding: 1em;
}

#admin #admin_menu span {
	margin-left: 1em;
}

#admin #admin_menu .active {
	color: #fff;
}

#admin #admin_menu .inactive {
	color: #000;
}

#admin #admin_main {
	position: absolute;
	left: 300px;
	top: 50px;
	width: 900px;
	height: 550px;
	padding: 1em 3em;
}

#admin #alert_Box {
	position: absolute;
	top: 60px;
	left: 80px;
	padding: 1em;
	background: #414467; 
	color: #FFFFFF;
	opacity: 0.8;
	border: 1px solid #000000;
}

#admin #alert_Box p {
	font-weight: bold;
}

#admin #alert_Box span {
	margin-left: 1em;
}

/*	error   
	-------------------------------------------------------------------------	*/

.error {
	position: relative;
	margin: 2em 3em;
	font-size: small;
	width: 400px;
	padding: 1em;
	background: #FF8373; 
	color: #fff;
	border: 1px solid #f00;
}

/*	Debug   
	-------------------------------------------------------------------------	*/

.debug {
	position: absolute; 
	top: 10px; 
	right: 10px; 
	padding: .8em;
	color: #fff;
	background: #FF8373; 
	border: 1px solid #f00;
}


/*	Sonstiges   
	-------------------------------------------------------------------------	*/

#color_Box {
	position: absolute;
	top: 15px;
	left: 650px;
	border: 1px solid #000;
	/*background-color: #B8BCCD;*/
	padding: 1em;
	padding-top: -1em;
}

div.slider {
	width: 200px;
	height: 16px;
	background: #eee;
}
div.slider div.knob {
	background: #000;
	width: 16px;
	height: 16px;
}

div.advanced {
	width: 200px;
	margin: 5px 0;
	background: url(../img/slider.png) 0 center repeat-x;
}

div.advanced div.knob {
	background: no-repeat center center;
	cursor: pointer;
}

div#red div.knob {
	background-image: url(../img/red.png);
}

div#green div.knob {
	background-image: url(../img/green.png);
}

div#blue div.knob {
	background-image: url(../img/blue.png);
}